* {
    margin: 0;
    padding: 0;
}

.containerBody {
    box-sizing: border-box;
    background-color: #27576B;
    display: grid;
    position: absolute;
    box-sizing: border-box;
    margin: 10px;
    width: auto;
    height: auto;
    border-style: solid;
    box-sizing: border-box;
}

.containerTop {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 20% 60% 20%;
}

#topWelcomeText {
    box-sizing: border-box;
    /* border-style: solid;
    box-sizing: border-box; */
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
    text-align: center;
}

#topNavBar {
    box-sizing: border-box;
    /* border-style: solid;
    box-sizing: border-box; */
    grid-column: 1 / span 3;
    grid-row: 3;
}

#topSlogan {
    box-sizing: border-box;
    /* border-style: solid;
    box-sizing: border-box; */
    grid-column: 1;
    grid-row: 2;
    margin: 10px;
    width: 50%;
    height: 50%;
}

#topLogo {
    z-index: 1;
    box-sizing: border-box;
    /* border-style: solid;
    box-sizing: border-box; */
    margin-left: auto;
    padding: 20px 0px 0px 0px;
    grid-row: 2 / span 2;
    grid-column: 3;
    max-width: 50%;
}

#topLogo img {
    box-sizing: border-box;
    border-style: solid;
    box-sizing: border-box;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#topNavBar {
    box-sizing: border-box;
    border-style: solid;
    background-color: #48819A;
}
